/*---------------
Reset
---------------*/
*{
    margin:0;
    padding:0;
}
img{
    border:none;
}
input{
    
    border:none;
}
ul{
    list-style: none;
}
h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}
input,select,option{
    outline:0;
    border:0;
}
a{
    text-decoration: none;
}


/*---------------
General
---------------*/
body{
    font: 14px 'PT Sans', sans-serif;
	background: #FFF;
}


/*---------------
Style slider
---------------*/
.slider-wrap{
    position: relative;
    margin: 50px auto; 
    width: 660px;
}
.slider-wrap > div:first-child{
    position: relative;
	width: 600px;
	margin: auto;
	-moz-box-shadow: #DFDFDF 0 0 10px;
	-webkit-box-shadow: #DFDFDF 0 0 10px;
	box-shadow: #DFDFDF 0 0 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
ul li{
    background: #FFFFFF;
    height: 250px;
    margin: auto;
}
ul li span {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    background: black;
}

.arrow-slider a{
    position: absolute;
	top: 41%;
	width: 48px;
	height: 47px;
	background: url(../img/arr.png);
	color: #fff;
	text-align: center;
	text-decoration: none;
}
a.slider-left{
	left: 10px;
	background-position:0 0;
}
a.slider-left:hover{
	background-position: 0 -45px;
}
a.slider-right{
	right: 10px;
	background-position:-50px 0;
}
a.slider-right:hover{
	background-position:-50px -45px;
}


/*---------------
Style content
---------------*/
.content-slider{
    float: left;
    width: 370px;
}
.img-slider{
    float: left;
    padding: 25px 35px;
}
.content-slider h2{
	margin: 25px 0 15px 0px;
	color: #3D3D3D;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
}
.more{
	padding: 5px 20px;
	display: inline-block;
	margin-top: 15px;
	color: #3D3D3D;
	border-bottom: 3px solid rgb(199, 199, 199);
	background: #DDD;
	font-size: 16px;
	font-weight: bold;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
.more:hover{
	border-bottom: 3px solid rgb(228, 188, 29);
	background: #FCC900;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
